

<div class="row">

    <div class="jumbotron col-lg-7">
        <h1>Welcome !</h1>
        <p>And thank you for landing here ! This is a unique sample application which will change your way to ask for things on the internet</p>
    </div>

    <div class="col-lg-4 "><h2>Start by registering !</h2>
        <form role="form">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">I'm in !</button>
        </form>
    </div>
</div>